<!--内容开始-->
<section class="content">
    <div class="search">
        <form class="form-inline" action="">
            <a class="btn btn-flat btn-primary m_10" href="{:url('index',['cate'=>$cateId])}">显示全部</a>
            <a class="btn btn-flat btn-success m_10 f_r m_t_5" onclick="javascript :history.back(-1)"><i
                    class="fa fa-undo m-r-10"></i>返 回</a>
        </form>
    </div>
    <!--数据表开始-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-body">
                {if $info}
                <form method="post" action="{:url('editPost')}">
                    <input type="hidden" name="id" value="{$info.id}"/>
                {else /}
                <form method="post" action="{:url('addPost')}">
                {/if}
		        {volist name='field' id='field' }
                    {if $field.status}<!--隐藏不再显示的字段-->
                    {:make_html_add($field.type, $field.field, $field.name, $field.required, '', $info[$field.field], $moduleid, $cate, $cateId, $field.setup, $template)}
                    <!---->
                    {/if}<!--隐藏不再显示的字段-->
                {/volist}

                    <div class="row dd_input_group">
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 text-center">
                                <button type="submit" class="btn btn-flat btn-primary ">提 交</button>
                                <button type="button" class="btn btn-flat btn-default"
                                        onclick="javascript :history.back(-1)">返 回
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!--数据表结束-->
</section>
<!-- right col -->
</div>
<!-- /.row (main row) -->

</section>
<!--内容结束-->
