<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>后台管理面板</title>
  <!-- 告诉浏览器该页面是自适应布局 -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
   {include file="index/top" /}
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
<div class="wrapper">

  {include file="index/header" /}
  <!-- Left side column. contains the logo and sidebar -->
  {include file="index/left" /}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
       <iframe id="menuFrame" scrolling="auto" frameborder="0" src="{:url('Index/main')}" name="right" width="100%" height="100%"></iframe>
  </div>
  {include file="index/footer" /}
</div>
<!-- ./wrapper -->
{include file="index/bottom" /} 
<script>
    $("#menuFrame").height(window.innerHeight-60);
	$(".left_li").click(function(){
		$(".left_li").removeClass("active");
		$(this).addClass("active"); 
	  })
</script>
</body>
</html>
