<!--内容开始-->
<section class="content">
    <div class="search">
        <form class="form-inline" action="">
            <a class="btn btn-flat btn-primary m_10" href="{:url('index')}" >显示全部</a>
            <a class="btn btn-flat btn-success m_10 f_r m_t_5" onclick="javascript :history.back(-1)"><i
                    class="fa fa-undo m-r-10"></i>返 回</a>
        </form>
    </div>
    <!--数据表开始-->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="box box-body">
                <!---->
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">编号</label>
                        <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" class="form-control" value="{$info.id}">
                        </div>
                    </div>
                </div>
                <!---->
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">管理员ID</label>
                        <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" class="form-control" value="{$info.admin_id}">
                        </div>
                    </div>
                </div>
                <!---->
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">管理员名称</label>
                        <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" class="form-control" value="{$info.username}">
                        </div>
                    </div>
                </div>
                <!---->
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">URL</label>
                        <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" class="form-control" value="{$info.url}">
                        </div>
                    </div>
                </div>
                <!---->
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">标题</label>
                        <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" class="form-control" value="{$info.title}">
                        </div>
                    </div>
                </div>
                <!---->
                <div class="row dd_input_group">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
                            <label class="text-lable">内容</label>
                            <textarea class="form-control" name="description" rows="3">{$info.content}</textarea>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">IP</label>
                        <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" class="form-control" value="{$info.ip}">
                        </div>
                    </div>
                </div>
                <!---->
                <div class="row dd_input_group">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
                            <label class="text-lable">浏览器</label>
                            <textarea class="form-control" name="description" rows="3">{$info.useragent}</textarea>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.box -->
        </div>
    </div>
    <!--数据表结束-->
</section>
<!--内容结束-->
