<style>
.typeTable tr td{padding:  5px;}
</style>
{switch name="type" }
{case value="editor"}
<table class="typeTable" cellpadding="2" cellspacing="1" width="100%">
    <tr>
        <td width="140">编辑器类型：</td>
        <td>
            <select name="setup[edittype]" class="form-control" >
                <!--<option value="wangEditor" {$fieldInfo.setup.edittype=='wangEditor'?'selected':''}>wangEditor</option>-->
                <option value="ckeditor" {$fieldInfo.setup.edittype=='ckeditor'?'selected':''}>ckeditor</option>
                <!--<option value="UEditor" {$fieldInfo.setup.edittype=='UEditor'?'selected':''}>UEditor</option> -->
            </select>
        </td>
    </tr>
</table>
{/case}
{case value="select" }
<table class="typeTable" cellpadding="2" cellspacing="1" width="100%">
    <tr>
        <td width="120">选项列表:<br>例: <font color="red">选项名称|值</font><br>一行一个</td>
        <td>
            <textarea  name="setup[options]" rows="5" cols="40" class="form-control">{$fieldInfo.setup.options?$fieldInfo.setup.options:''}</textarea>
        </td>
    </tr>
</table>
{/case}
{case value="radio"}
<table class="typeTable" cellpadding="2" cellspacing="1" width="100%">
    <tr>
        <td width="120">选项列表:<br>例: <font color="red">选项名称|值</font><br>一行一个</td>
        <td>
            <textarea  name="setup[options]" rows="5" cols="40" class="form-control">{$fieldInfo.setup.options?$fieldInfo.setup.options:''}</textarea>
        </td>
    </tr>
</table>
{/case}
{case value="checkbox"}
<table class="typeTable" cellpadding="2" cellspacing="1" width="100%">
    <tr>
        <td width="120">选项列表:<br>例: <font color="red">选项名称|值</font><br>一行一个</td>
        <td>
            <textarea  name="setup[options]" rows="5" cols="40" class="form-control">{$fieldInfo.setup.options?$fieldInfo.setup.options:''}</textarea>
        </td>
    </tr>
</table>
{/case}
{case value="image"}
<table class="typeTable" cellpadding="2" cellspacing="1" width="100%">
    <tr>
        <td>允许上传的图片类型</td>
        <td><input type="text" name="setup[upload_allowext]" value="{$fieldInfo.setup.upload_allowext?$fieldInfo.setup.upload_allowext:'jpg|jpeg|gif|png'}" class="form-control"></td>
    </tr>
</table>
{/case}
{case value="file"}
<table class="typeTable" cellpadding="2" cellspacing="1" width="100%">
    <tr>
        <td>允许上传的文件类型</td>
        <td><input type="text" name="setup[upload_allowext]" value="{$fieldInfo.setup.upload_allowext?$fieldInfo.setup.upload_allowext:'zip|rar|doc|ppt'}" class="form-control"></td>
    </tr>
</table>
{/case}
{default /}
{/switch}