<!--内容开始-->
<section class="content">
    <div class="search">
        <form class="form-inline" action="{:url('Auth/adminList')}">
            <e>备份文件列表中共有 <b>{$statistics.count}</b> 个文件，共计 <b>{$statistics.total}</b></e>
        </form>
    </div>
    <!--数据表开始-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th class="t_c">文件名称</th>
                                <th class="t_c">文件大小</th>
                                <th class="t_c">备份时间</th>
                                <th class="t_c">操作</th>
                            </tr>
                            {volist name='list' id='list' empty="$empty"}
                            <tr>
                                <td class="t_c">{$list.name}</td>
                                <td class="t_c">{$list.size}</td>
                                <td class="t_c">{$list.addtime}</td>
                                <td class="t_c">
                                    <a class="btn btn-flat btn-danger btn-xs js_import" data-time="{$list.time}"
                                       href="javascript:;">
                                        <i class="fa fa-edit"></i> 恢复
                                    </a>
                                    <a class="btn btn-flat btn-info btn-xs"
                                       href="{:url('downFile',['time'=>$list.time])}">
                                        <i class="fa fa-edit"></i> 下载
                                    </a>
                                    <a class="btn btn-flat btn-warning btn-xs list_del js_delSql"
                                       data-time="{$list.time}" href="javascript:;">
                                        <i class="fa fa-trash-o"></i> 删除
                                    </a>
                                </td>
                            </tr>
                            {/volist}
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
    <!--数据表结束-->
</section>
<!--内容结束-->

<script>
    //恢复
    $(".js_import").click(function () {
        var url = "{:url('import')}";
        var time = $(this).data("time");
        dataImport(url, time);
    })
    //删除
    $(".js_delSql").click(function () {
        var url = "{:url('delSqlFiles')}";
        var time = $(this).data("time");
        dataDelSql(url, time);
    })
</script>
