body {
	background: url(../img/ec-background/bg-3.jpg) !important;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-color: #fff;
}