{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--渲染器-->
    <meta name="renderer" content="webkit">
    <!--优先使用最新版本的IE 和 Chrome 内核-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SIYUCMS 后台管理面板</title>
    <!-- 告诉浏览器该页面是自适应布局 -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {include file="public/css_js" /}
    {// 额外CSS代码 }
    {$extra_css|raw|default=''}
</head>

<body>
<form name="form-builder" id="form-builder" method="post" action="addPost">
    <!---->
    <div class="row" style="margin: 0 .75rem;">
        <div class="col-12">
            <div class="">
                <!---->
                <div class="row dd_input_group " id="form_group_name">
                    <label class="col-4 col-md-2 col-lg-1 control-label dd_input_l" for="name">网站名称</label>
                    <div class="col-7 col-md-4 col-lg-4">
                        <input class="form-control" type="text" id="name" name="name" value="SIYUCMS" placeholder="请输入网站名称">
                    </div>
                    <div class="col-1 col-md-6 col-lg-6 dd_ts">
                    </div>
                </div>

                <div class="row dd_input_group " id="form_group_url">
                    <label class="col-4 col-md-2 col-lg-1 control-label dd_input_l" for="url">网站地址</label>
                    <div class="col-7 col-md-4 col-lg-4">
                        <input class="form-control" type="text" id="url" name="url" value="www.xxx.com" placeholder="请输入网站地址">
                    </div>
                    <div class="col-1 col-md-6 col-lg-6 dd_ts">
                    </div>
                </div>

                <div class="row dd_input_group " id="form_group_copyright">
                    <div class="col-11 col-sm-8 col-md-6 col-lg-5">
                        <label class="text-lable" for="copyright">版权信息</label>
                        <textarea class="form-control" id="copyright" name="copyright" rows="3" placeholder="请输入版权信息">Copyright © SIYUCMS 2019.All right reserved.Powered by SIYUCMS</textarea>
                    </div>
                    <div class="col-1 col-sm-4 col-md-6 col-lg-6 dd_ts">
                    </div>
                </div>

                <!---->
                <div class="row dd_input_group hide">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 text-center">
                            <button type="submit" class="btn btn-flat btn-primary ">提 交</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</form>
{include file="public/foot_css_js" /}
<script type="text/javascript">
    function submitHandler() {
        $.operate.save("addPost", $('#form-builder').serialize());
    }
</script>
</body>
</html>