<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>后台管理面板</title>
  <!-- 告诉浏览器该页面是自适应布局 -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
   {include file="index/top" /}
</head>
<body class="hold-transition skin-blue sidebar-mini">	
<div class="wrapper">
    <div class="content-wrapper" style="margin-left: 0 !important;">
        <!--页眉-->
        <section class="content-header">
          <h1>{$info?'修改':'添加'}用户组</h1>
        </section>
        <!--内容开始-->
        <section class="content">
            <div class="search">
            	<form class="form-inline" action="{:url('Auth/adminGroup')}">
                 <input class="btn btn-flat btn-primary m_10_l_0" onclick="location.href='{:url('Auth/adminGroup')}'" type="button" value="显示全部">
                 <a class="btn btn-flat btn-success m_10 f_r" onclick="javascript :history.back(-1)"><i class="fa fa-undo m-r-10"></i>返 回</a>  
            	</form> 
            </div>
            <!--数据表开始-->
            <div class="row">
                <div class="col-xs-12">
                	<div class="box box-body">
                		{if $info}
                		<form method="post" action="{:url('Auth/groupEdit')}">
                			<input type="hidden" name="id" value="{$info.id}"/>
                		{else /}
                		<form method="post" action="{:url('Auth/groupAdd')}">
                		{/if}
		                	<!---->
		                	<div class="row dd_input_group">
			                	<div class="form-group">
				                  <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">用户组名</label>
				                  <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
				                    <input type="text" name="title" class="form-control" placeholder="请输入用户组名" value="{$info.title}">
				                  </div>
				                </div>
			                </div>
			                <!---->
			                <div class="row dd_input_group">
			                	<div class="form-group">
				                  <label class="col-sm-1 col-xs-4 control-label"></label>
				                  <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
				                    	<button type="submit" class="btn btn-flat btn-primary ">提 交</button> 
				                    	<button type="button" class="btn btn-flat btn-default" onclick="javascript :history.back(-1)">返 回</button>
				                  </div>
		
				                </div>
			                </div>
                		</form>
                 </div>
                  <!-- /.box -->
                </div>
              </div>
            <!--数据表结束-->
        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
        <!--内容结束-->
    </div>
</div>
{include file="index/bottom" /} 
</body>
</html>    