<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>后台管理面板</title>
  <!-- 告诉浏览器该页面是自适应布局 -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {include file="index/top" /}
</head>
<body class="hold-transition skin-blue sidebar-mini">	
<div class="wrapper">
    <div class="content-wrapper" style="margin-left: 0 !important;">
        <!--页眉-->
        <section class="content-header">
          <h1>{$info?'修改':'添加'}钩子</h1>
        </section>
        <!--内容开始-->
        <section class="content">
            <div class="search">
            	<form class="form-inline" action="">
                 <input class="btn btn-flat btn-primary m_10_l_0" onclick="location.href='{:url('index')}'" type="button" value="显示全部">
                 <a class="btn btn-flat btn-success m_10 f_r" onclick="javascript :history.back(-1)"><i class="fa fa-undo m-r-10"></i>返 回</a>  
            	</form> 
            </div>
            <!--数据表开始-->
            {if $info}
            <form method="post" action="{:url('editPost')}">
                <input type="hidden" name="id" value="{$info.id}"/>
            {else /}
            <form method="post" action="{:url('addPost')}">
            {/if}
            <!---->
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                	<div class="box box-body">
                            <!---->
                            <div class="row dd_input_group">
			                	<div class="form-group">
				                  <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">钩子名称</label>
				                  <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
				                     <input type="text" name="name" class="form-control" placeholder="只能使用英文及下划线，且不可重复" value="{$info.name}">
				                  </div>
                                  <div class="col-sm-6 col-xs-12 dd_ts">* 可用于 hook('钩子名称') 来执行钩子业务，插件会根据此名称生成钩子方法。</div>
				                </div>
			                </div>
                            <!---->
                            <div class="row dd_input_group">
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
                                  <label class="text-lable">钩子描述</label>
                                  <textarea class="form-control" name="description" rows="3" placeholder="请输入钩子描述">{$info.description}</textarea>
                                  </div>
                                </div>
                            </div>
                            
                            <!---->
                             <div class="row dd_input_group">
			                	<div class="form-group">
				                  <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">状态</label>
				                  <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                                  <div class="dd_radio_lable_left">
                                  {if $info}
				                    <label class="dd_radio_lable">
                                      <input type="radio" name="status" value="1" class="dd_radio" {$info.status?'checked':''}><span>显示</span>
                                    </label>
                                    <label class="dd_radio_lable">
                                      <input type="radio" name="status" value="0" class="dd_radio" {$info.status?'':'checked'}><span>隐藏</span>
                                    </label>
                                     {else /}
                                     <label class="dd_radio_lable">
                                      <input type="radio" name="status" value="1" class="dd_radio" checked><span>是</span>
                                    </label>
                                    <label class="dd_radio_lable">
                                      <input type="radio" name="status" value="0" class="dd_radio" ><span>否</span>
                                    </label>
                                     {/if}
                                     </div>
				                  </div>
                                  <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts"></div>
				                </div>
			                </div>
                            <!---->
                             <div class="row dd_input_group">
			                	<div class="form-group">
				                  <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">排序</label>
				                  <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
				                     <input type="text" name="sort" class="form-control" placeholder="请输入排序" value="{$info.sort?$info.sort:'50'}">
				                  </div>
                                  <div class="col-sm-6 col-xs-12 dd_ts">* 排序为从小到大排序，默认为50,相同则按ID从大到小排序</div>
				                </div>
			                </div>
                            <!---->
                            
			                <div class="row dd_input_group">
			                	<div class="form-group">
				                  <label class="col-sm-1 col-xs-4 control-label"></label>
				                  <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
				                    	<button type="submit" class="btn btn-flat btn-primary ">提 交</button> 
				                    	<button type="button" class="btn btn-flat btn-default" onclick="javascript :history.back(-1)">返 回</button>
				                  </div>
		
				                </div>
			                </div>
                 </div>
                  <!-- /.box -->
                </div>
              </div>
              </form>
            <!--数据表结束-->
        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
        <!--内容结束-->
    </div>
</div>
{include file="index/bottom" /} 
</body>
</html>    