<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>后台管理面板</title>
  <!-- 告诉浏览器该页面是自适应布局 -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {include file="index/top" /}
</head>
<body class="hold-transition skin-blue sidebar-mini">	
	<div class="wrapper">
		<div class="content-wrapper" style="margin-left: 0 !important;">
			<section class="content-header">
				<h1>内容管理</h1>
			</section>
			<!--内容开始-->
			<section class="content">
				<div class="box box-solid">
					<div class="box-header with-border">
						<!--<h3 class="box-title">栏目列表</h3>-->
					</div>
					<div class="box-body">
						<!--开始-->
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-12">
							  <div class="info-box">
								<span class="info-box-icon bg-aqua"><i class="fa fa-navicon"></i></span>

								<div class="info-box-content">
								  <span class="info-box-text">栏目数量</span>
								  <span class="info-box-number info-box-number-content">{$cateNum}</span>
								</div>
								<!-- /.info-box-content -->
							  </div>
							  <!-- /.info-box -->
							</div>
							<!-- /.col -->
							<div class="col-md-3 col-sm-6 col-xs-12">
							  <div class="info-box">
								<span class="info-box-icon bg-red"><i class="fa fa-th-list"></i></span>

								<div class="info-box-content">
								  <span class="info-box-text">模型数量</span>
								  <span class="info-box-number info-box-number-content">{$moduleNum}</span>
								</div>
								<!-- /.info-box-content -->
							  </div>
							  <!-- /.info-box -->
							</div>
							<!-- /.col -->

							<!-- fix for small devices only -->
							<div class="clearfix visible-sm-block"></div>

							<div class="col-md-3 col-sm-6 col-xs-12">
							  <div class="info-box">
								<span class="info-box-icon bg-green"><i class="fa fa-file-text"></i></span>

								<div class="info-box-content">
								  <span class="info-box-text">文章数量</span>
								  <span class="info-box-number">{$articleNum}</span>
								</div>
								<!-- /.info-box-content -->
							  </div>
							  <!-- /.info-box -->
							</div>
							<!-- /.col -->
							<div class="col-md-3 col-sm-6 col-xs-12">
							  <div class="info-box">
								<span class="info-box-icon bg-yellow"><i class="fa fa-cubes"></i></span>

								<div class="info-box-content">
								  <span class="info-box-text">产品数量</span>
								  <span class="info-box-number">{$productNum}</span>
								</div>
								<!-- /.info-box-content -->
							  </div>
							  <!-- /.info-box -->
							</div>
							<!-- /.col -->
						  </div>
						<!--开始-->
					</div>
				</div>
			</section>
		</div>
	</div>		
	{include file="index/bottom" /} 
</body>
</html>    