<style>
    a{text-decoration: none;}
    ul.pic { list-style: none;padding: 15px 0 0 0;}
    ul.pic li {float:left;position:relative;margin:5px 10px;_margin:5px 8px;text-align: center;}
    ul.pic li span { width:82px;height:82px;display: block;border: 1px solid #dedede;}
    ul.pic li span a {border:1px solid #eee;width:80px;height:80px;*font-size: 75px;display: table-cell; vertical-align: middle; overflow: hidden;}
    ul.pic li img  {max-height:80px;max-width:80px ;_width:80px;_height:80px;}
    ul.pic li  b {display:block;line-height:20px;height:40px;font-weight:normal;width:82px;overflow:hidden;}
    ul.pic li  em {position:absolute;right:25px;bottom:40px;font-style: normal;}
    ul.pic li  em a{color: #f00;}
</style>

<!--内容开始-->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!--搜索区域开始-->
            <div class="col-12 search-collapse">
                <div class="select-list">
                    <a class="btn btn-flat m-r-5 {if $type == 'html'}btn-info{else}btn-primary{/if}"
                       href="{:url('index',['type'=>'html'])}">html</a>
                    <a class="btn btn-flat m-r-5 {if $type == $css}btn-info{else}btn-primary{/if}"
                       href="{:url('index',['type'=>$css])}">{$css}</a>
                    <a class="btn btn-flat m-r-5 {if $type == $js}btn-info{else}btn-primary{/if}"
                       href="{:url('index',['type'=>$js])}">{$js}</a>
                    <a class="btn btn-flat m-r-5 {if $type == $img}btn-info{else}btn-primary{/if}"
                       href="{:url('img',['type'=>$img])}">媒体文件</a>
                </div>
            </div>
            <!--内容区域开始-->
            <div class="col-sm-12 select-table table-striped">
                <ul class="pic">
                <!--返回上一级-->
                {if $leve}
                <li>
                    <span><a href="{:url('img')}?folder={$uppath}"><img src="/static/admin/images/upback.gif"></a></span>
                    <b><font color="#665aff">返回上一级</font></b>
                </li>
                {/if}
                <!--展示文件夹-->
                {volist name='folders' id='folders'}
                <li>
                    <span><a href="{:url('img')}?folder={$folder}{$folders['filename']}/"><img src="/static/admin/images/folder.gif"></a></span>
                    <b>{$folders.filename}</b>
                    <em>
                        <a href="javascript:confirm_delete('{$folder}','{$folders.filename}')">删除</a>
                    </em>
                </li>
                {/volist}
                <!--展示文件-->
                {volist name='files' id='files'}
                <li>
                    <span>
                        <a href="{$files.filepath}" target="_blank">
                            <img src="{$files.filepath}">
                        </a>
                    </span>
                    <b>{$files.filename}</b>
                    <em><a href="javascript:confirm_delete('{$folder}','{$files.filename}')">删除</a></em>
                </li>
                {/volist}

            </ul>
            </div>
        </div>
    </div>
</section>
<!--内容结束-->

<script>
//删除
function confirm_delete(folder,filename) {
    $.modal.confirm("确定删除？删除后将无法恢复!", function () {
        var url = '{:url('imgDel')}';
        var data = {folder: folder, filename, filename};
        $.operate.submit(url, "post", "json", data);
        $.pjax.reload('.content-wrapper'); // pjax 重载
    });
}
</script>
